version: '3'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false  # Disable X-Pack security
    ports:
      - "9200:9200"

  flask_app:
    build:
      context: .
      dockerfile: Dockerfile-flask
    ports:
      - "5000:5000"
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
  
  node-app:
    build:
      context: ./node-app
      dockerfile: Dockerfile   # Specify the correct Dockerfile name
    ports:
      - "3000:3000"
    depends_on:
      - elasticsearch

networks:
  default:
    external:
      name: _sciverse

