version: '3'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false  # Disable X-Pack security
    ports:
      - "9200:9200"
    mem_limit: 2g  # Adjust the memory limit as needed

  flask_app:
    build:
      context: .
      dockerfile: Dockerfile-flask
    ports:
      - "5000:5000"
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200

  grobid:
    image: lfoppiano/grobid:0.8.0
    ports:
      - "8070:8070"
    mem_limit: 5g

networks:
  default:
    external:
      name: imad




    
